.idea
.komodotools/
iqm_magento.komodoproject
desktop.ini

/var/
/Working/
/shell/
/lib/
/includes/
/errors/
/dev/
/app/code/
/app/etc/

/create_user.php
/php.ini.sample
/RELEASE_NOTES.txt
/LICENSE_AFL.txt
/LICENSE.html

/app/design/adminhtml/
/app/design/install/
/app/design/frontend/base/
/app/design/frontend/default/
/app/design/frontend/rwd/
/skin/adminhtml/
/skin/install/
/skin/frontend/base/
/skin/frontend/default/
/skin/frontend/rwd/
