html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Debug styles */
.debug, .red, .r {
  outline: 1px solid red;
}

.green, .g {
  outline: 1px solid #00df02;
}

.blue, .b {
  outline: 1px solid blue;
}

.grey, .g {
  outline: 1px dotted #555;
}

.debug-mode * {
  outline: 2px dotted red !important;
}

.debug-mode * * {
  outline: 2px dotted green !important;
}

.debug-mode * * * {
  outline: 2px dotted orange !important;
}

.debug-mode * * * * {
  outline: 2px dotted blue !important;
}

.debug-mode * * * * * {
  outline: 1px solid red !important;
}

.debug-mode * * * * * * {
  outline: 1px solid green !important;
}

.debug-mode * * * * * * * {
  outline: 1px solid orange !important;
}

.debug-mode * * * * * * * * {
  outline: 1px solid blue !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

* {
  outline: none;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th:empty, td:empty {
  content: '\0000';
}

form {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.clear, .clr {
  clear: both;
  overflow: hidden;
  height: 0px;
  *zoom: 1;
}

/* Fonts */
em {
  font-style: italic;
}

@font-face {
  font-family: 'os';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-i';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-b';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-bi';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-l';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-li';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-sb';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-sbi';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-eb';
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'os-ebi';
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*
@font-face{
  @include font-family(font-awersome, fontawesome-webfont);
}
*/
/* Basic styles */
input, textarea, select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: os, Arial, Helvetica, Verdana, sans-serif;
  line-height: 1.4;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  text-align: center;
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: os, Arial, Helvetica, Verdana, sans-serif;
  line-height: 1.4;
}

.showMe {
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1495px;
  min-width: 240px;
  /*width: 1495px;*/
  text-align: left;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn {
  font-size: 1.3rem;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  background: #000;
  padding: 17px 29px 17px;
}

.btn:hover {
  background: #333;
}

/* Content */
.content-block {
  padding: 0;
  box-sizing: border-box;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  margin: 0 61px;
  flex: 1 0 auto;
  position: relative;
  background: #fff;
}

.content-block .col-main {
  width: 100%;
}

.content-block .std ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.content-block .std ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.no-flexbox .content-block {
  padding-bottom: 50px;
}

.content-block .nav-box {
  display: none;
  height: 0;
  overflow: hidden;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*
@font-face{
  @include font-family(font-awersome, fontawesome-webfont);
}
*/
/* Header */
.search-block .blank-cell {
  width: 61px;
  height: 75px;
  border-right: 1px solid #e1e1e1;
}

@media only screen and (max-width: 768px) {
  .search-block .blank-cell {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 675px) {
  .search-block .blank-cell {
    display: none;
  }
}

.search-block form {
  float: right;
}

@media only screen and (max-width: 768px) {
  .search-block form {
    float: none;
    text-align: center;
    width: 100%;
    height: 75px;
  }
}

@media only screen and (max-width: 675px) {
  .search-block form {
    float: none;
    width: 100%;
    height: 60px;
    text-align: left;
    padding-left: 3%;
  }
}

.search-block .slogan {
  font-family: os-l, Arial, Helvetica, Verdana, sans-serif;
  font-size: 19px;
  font-size: 1.9rem;
  padding: 30px 27px 0 0;
  float: left;
  /* display: none; */
}

@media only screen and (max-width: 768px) {
  .search-block .slogan {
    float: none;
    display: inline-block;
    padding-right: 0;
  }
}

@media only screen and (max-width: 675px) {
  .search-block .slogan {
    padding-top: 17px;
  }
}

@media only screen and (max-width: 590px) {
  .search-block .slogan span {
    display: none;
  }
}

.search-block .icon-cell {
  width: 61px;
  height: 75px;
  border-left: 1px solid #e1e1e1;
  box-sizing: border-box;
  padding: 34px 0 0 20px;
  float: left;
}

@media only screen and (max-width: 768px) {
  .search-block .icon-cell {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    text-align: right;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 675px) {
  .search-block .icon-cell {
    padding-top: 23px;
    height: 60px;
  }
}

.search-block .search-field {
  padding: 27px 25px 0 0;
  float: left;
  display: none;
}

@media only screen and (max-width: 768px) {
  .search-block .search-field {
    float: none;
    padding-right: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 675px) {
  .search-block .search-field {
    padding-top: 17px;
    padding-right: 0;
  }
}

.search-block .search-field input {
  width: 510px;
  height: 30px;
  border: 1px solid #777;
  box-sizing: border-box;
  padding: 0 8px 0;
  font-family: os, Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #999;
  font-style: italic;
}

@media only screen and (max-width: 675px) {
  .search-block .search-field input {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .search-block .search-field input {
    width: 73%;
  }
}

@media only screen and (max-width: 420px) {
  .search-block .search-field input {
    display: none;
  }
}

.search-block .search-field input.active {
  color: #333;
  font-style: normal;
}

.search-block .search-button {
  width: 16px;
  height: 16px;
  border: 0;
  text-indent: -10000px;
  background: url(../images/header/lens_03.svg) 50% 50% no-repeat;
  background-size: 100% auto;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  top: 2px;
}

.search-block input.search-button {
  display: none;
  position: relative;
  top: -1px;
}

.main-bar {
  background: #000;
  padding: 0;
  width: 100%;
  display: inline-block;
  position: relative;
}

a.logo {
  display: block;
  width: 61px;
  height: 61px;
  /* box-sizing: border-box; */
  border-right: 1px solid #e1e1e1;
  float: left;
}

@media only screen and (max-width: 768px) {
  a.logo {
    display: none;
  }
}

a.logo:hover {
  background: #333;
}

a.logo.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  a.logo.mobile {
    display: block;
    float: left;
  }
}

a.logo img {
  width: 100%;
  height: 61px;
}

.cart-button {
  display: block;
  width: 61px;
  height: 61px;
  float: right;
  border-left: 1px solid #e1e1e1;
}

.cart-button:hover {
  background: #333;
}

.main-bar ul, .main-bar .menu-button {
  padding-top: 22px;
}

.main-bar .menu-button {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .main-bar .menu-button {
    display: block;
  }
}

.user-links {
  float: right;
  padding-right: 35px;
}

.main-nav {
  display: block;
  float: left;
  padding-left: 33px;
}

.main-nav li {
  float: left;
  padding: 0 0 0 84px;
}

@media only screen and (max-width: 1150px) {
  .main-nav li {
    padding-left: 6.3vw;
  }
}

@media only screen and (max-width: 1050px) {
  .main-nav li {
    padding-left: 3.3vw;
  }
}

@media only screen and (max-width: 868px) {
  .main-nav li:last-child {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .main-nav li {
    padding-left: 3.3vw;
  }
}

.main-nav li:first-child {
  padding-left: 0;
}

.main-nav li ul.level0 {
  display: none;
}

.nav-box li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.nav-box li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .content-block .nav-box {
    /*display: block;*/
    height: auto;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .nav-box .user-links {
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav-box .user-links li:last-child a {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-box .main-nav {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav-box .main-nav li:first-child a {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-box ul li, .nav-box ul li:first-child {
    float: none;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav-box ul li a, .nav-box ul li:first-child a {
    display: block;
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-box ul li:hover {
    background: #333;
  }
}

@media only screen and (max-width: 768px) {
  .nav-box ul li a:hover {
    text-decoration: none;
  }
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*
@font-face{
  @include font-family(font-awersome, fontawesome-webfont);
}
*/
/* Footer */
footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-subscription {
  background: #000;
  width: 100%;
  display: block;
  clear: both;
}

.footer-subscription .mail-icon {
  width: 61px;
  height: 61px;
  border-right: 1px solid #e1e1e1;
  float: left;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .footer-subscription .mail-icon {
    border: 0;
    width: 38px;
    box-sizing: border-box;
    text-align: left;
  }
}

@media only screen and (max-width: 420px) {
  .footer-subscription .mail-icon img {
    width: 25px;
    margin: 8px 0 0 9px;
  }
}

.footer-subscription h3 {
  float: left;
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  padding: 22px 0 0 35px;
}

@media only screen and (max-width: 992px) {
  .footer-subscription h3 {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 568px) {
  .footer-subscription h3 {
    float: none;
    text-align: center;
    margin: 0 auto;
  }
}

.footer-subscription form {
  float: right;
  /* border-left: 1px solid blue; */
  width: 64%;
}

@media only screen and (max-width: 960px) {
  .footer-subscription form {
    width: 60%;
  }
}

@media only screen and (max-width: 870px) {
  .footer-subscription form {
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .footer-subscription form {
    display: none;
  }
}

.footer-subscription input[type=text] {
  float: left;
  width: 40%;
  background: #000;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 22px;
}

@media only screen and (max-width: 992px) {
  .footer-subscription input[type=text] {
    width: 40%;
  }
}

@media only screen and (max-width: 870px) {
  .footer-subscription input[type=text] {
    width: 38%;
  }
}

.footer-subscription input.empty-field {
  color: #ee0000;
}

.footer-subscription input.mail-name {
  margin-right: 7.5%;
}

@media only screen and (max-width: 992px) {
  .footer-subscription input.mail-name {
    margin-left: 5.5%;
  }
}

@media only screen and (max-width: 870px) {
  .footer-subscription input.mail-name {
    margin-right: 3.5%;
  }
}

.footer-subscription .mail-submit {
  display: block;
  width: 61px;
  height: 61px;
  border: 0;
  float: right;
  border-left: 1px solid #e1e1e1;
  background: #000 url(../images/footer/mail_submit.svg) no-repeat 50% 50%;
  text-indent: -9999px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .footer-subscription .mail-submit {
    display: block;
  }
}

@media only screen and (max-width: 420px) {
  .footer-subscription .mail-submit {
    border: 0;
    width: 38px;
    box-sizing: border-box;
  }
}

.footer-subscription .mail-submit:hover {
  background-color: #333;
}

.footer-subscription a.mail-submit {
  display: none;
}

.footer-info {
  padding: 45px 35px 35px 35px;
  box-sizing: border-box;
  margin: 10px 61px 0;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

@media only screen and (max-width: 992px) {
  .footer-info {
    padding: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .footer-info {
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .footer-info {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .footer-info {
    border: 0;
    margin: 0;
  }
}

.footer-info .footer-nav {
  float: left;
  width: auto;
  display: inline-block;
  padding-top: 5px;
}

@media only screen and (max-width: 480px) {
  .footer-info .footer-nav {
    display: block;
    float: none;
  }
}

.footer-info .main-nav {
  padding-left: 0;
  margin-bottom: 35px;
}

@media only screen and (max-width: 992px) {
  .footer-info .main-nav {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .footer-info .main-nav {
    display: none;
  }
}

.footer-info .main-nav li {
  padding: 0 0 0 35px;
}

@media only screen and (max-width: 992px) {
  .footer-info .main-nav li {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 800px) {
  .footer-info .main-nav li {
    padding-left: 15px;
  }
}

.footer-info .main-nav li:first-child {
  padding-left: 0;
}

.footer-info .main-nav li a {
  color: #000;
}

.footer-info .contacts {
  float: right;
}

@media only screen and (max-width: 480px) {
  .footer-info .contacts {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .footer-info .contacts a {
    display: inline-block;
    float: none;
  }
}

.footer-info .custom-links {
  float: left;
  color: #bababa;
}

@media only screen and (max-width: 800px) {
  .footer-info .custom-links {
    padding-top: 4px;
  }
}

@media only screen and (max-width: 480px) {
  .footer-info .custom-links {
    float: none;
    width: 250px;
    text-align: center;
    margin: 0 auto;
  }
}

.footer-info .custom-links li {
  float: left;
  padding-right: 8px;
  padding-left: 8px;
  border-left: 1px solid #c7c7c7;
  font-size: 11px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 750px) {
  .footer-info .custom-links li {
    border: 0;
  }
}

@media only screen and (max-width: 750px) {
  .footer-info .custom-links li:nth-child(-n+2) {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .footer-info .custom-links li {
    float: none;
    margin: 0 auto;
  }
}

.footer-info .custom-links li:first-child {
  padding-left: 0;
  border-left: 0;
}

.footer-info .custom-links li a {
  color: #bababa;
  text-transform: uppercase;
}

.footer-info .custom-links li a:hover {
  color: #555;
}

.footer-info .contacts a {
  display: block;
  float: left;
}

.footer-info .socials {
  width: 31px;
  height: 31px;
  background: #000;
  margin-left: 5px;
  padding: 0;
}

.footer-info .socials:hover {
  background: #333;
}

.footer-info .socials:first-child {
  margin-left: 0;
}

.footer-info .socials img {
  margin: 0;
  width: 100%;
}

.footer-info .mail {
  color: #000;
  margin-left: 18px;
  margin-top: 6px;
}

@media only screen and (max-width: 992px) {
  .footer-info .contacts .mail {
    display: none;
  }
}

/* BLOCK */
/* -- Home Content --*/
/* -- Intro -- */
.intro {
  text-align: center;
  margin: 0 auto 55px;
  max-width: 630px;
  padding-top: 60px;
}

.intro h2 {
  font-family: os-l, Arial, Helvetica, Verdana, sans-serif;
  font-size: 44px;
  font-size: 4.4rem;
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  .intro h2 {
    font-family: os, Arial, Helvetica, Verdana, sans-serif;
    font-size: 30px;
    font-size: 3rem;
  }
}

.intro p {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.home-content {
  position: relative;
  margin-bottom: 60px;
  float: left;
  width: 100%;
}

.home-content:before, .home-content .updates .home-info-col:before, .home-content .updates .home-info-col li:after {
  content: '';
  height: 1px;
  background: #e1e1e1;
  position: absolute;
  width: 1000%;
  margin-left: -300%;
}

.home-content:before {
  top: 0;
}

.home-content h2 {
  display: block;
  font-family: os-b, Arial, Helvetica, Verdana, sans-serif;
  box-sizing: border-box;
  font-size: 30px;
  font-size: 30px;
  font-size: 3rem;
  padding: 23px 8.2% 22px;
}

@media only screen and (max-width: 1300px) {
  .home-content h2 {
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
  }
}

.home-content h2:after {
  top: 0;
}

.home-content h2 a {
  display: none;
  float: right;
  position: relative;
  top: -5px;
}

@media only screen and (max-width: 900px) {
  .home-content h2 a {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  .home-content h2, .home-content li {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.home-content > ul > li {
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding: 0;
}

@media only screen and (max-width: 1300px) {
  .home-content > ul > li {
    float: none;
    width: 100%;
  }
}

.home-content > ul > li:first-child {
  width: 34%;
}

@media only screen and (max-width: 1300px) {
  .home-content > ul > li:first-child {
    float: none;
    width: 100%;
  }
}

.home-info-col {
  position: relative;
}

.home-info-col:before {
  top: 0;
}

.home-info-col li {
  position: relative;
  box-sizing: border-box;
  padding: 38px 8.2% 0;
  height: 210px;
}

@media only screen and (max-width: 1300px) {
  .home-info-col li {
    float: left;
    width: 50%;
    position: relative;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 900px) {
  .home-info-col li {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    padding: 35px 3% 25px;
    min-height: 130px;
  }
}

.home-info-col li:after {
  bottom: 0;
}

@media only screen and (max-width: 900px) {
  .home-info-col li:after {
    content: '';
    height: 1px;
    background: #e1e1e1;
    position: absolute;
    width: 1000%;
    margin-left: -300%;
    bottom: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .home-info-col li:nth-child(2n) {
    border-left: 1px solid #e1e1e1;
  }
}

@media only screen and (max-width: 900px) {
  .home-info-col li:nth-child(2n) {
    border-left: 0;
  }
}

.home-info-col li h3 {
  font-family: os-eb, Arial, Helvetica, Verdana, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.home-info-col li h3 a {
  color: #000;
  text-decoration: none;
}

.home-info-col li h3 a:hover {
  text-decoration: underline;
}

.home-info-col li p {
  margin-bottom: 0;
}

.home-info-col .product-image {
  float: left;
  display: block;
  width: 28.5%;
  margin-right: 4.5%;
}

.home-info-col .product-image img {
  width: 100%;
}

.home-info-col .product-description {
  float: left;
  width: 67%;
}

.home-info-col .home-price {
  font-family: os-eb, Arial, Helvetica, Verdana, sans-serif;
  text-align: right;
}

.home-info-col .home-price * {
  color: #000;
}

.home-info-col .home-price .price-box {
  margin: 0;
}

.home-info-col .home-price .special-price {
  display: none;
  margin: 0;
}

.home-info-col .home-price .old-price {
  height: auto;
}

li.extentions li:nth-child(2n):after, li.designs li:nth-child(2n):after {
  content: '';
  height: 1px;
  background: #e1e1e1;
  position: absolute;
  width: 1000%;
  margin-left: -300%;
  bottom: 0;
}

li.extentions .home-info-col p, li.designs .home-info-col p {
  margin-bottom: 5px;
  height: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 1300px) {
  li.extentions li, li.extentions h2, li.designs li, li.designs h2 {
    border-left: 0;
  }
}

@media only screen and (max-width: 1300px) {
  li.extentions:before, li.designs:before {
    content: '';
    height: 1px;
    background: #e1e1e1;
    position: absolute;
    width: 1000%;
    margin-left: -300%;
    bottom: 0;
  }
}

.designs .home-info-col .product-image {
  float: left;
  display: block;
  width: 30.5%;
  margin-right: 4.5%;
}

.designs .product-description {
  float: left;
  width: 65%;
}

/*# sourceMappingURL=iqm_styles.css.map */